@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: theme(colors.slate.50);
  --foreground: theme(colors.slate.700);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
  margin-top: 1rem;
}

a {
  @apply text-blue-600 underline hover:no-underline
}
